.banner{
    width: 100%;
    margin: 0px;
}
.img1{
    width: 40%;
}
.img2{
    width: 40%;
}
.img3{
    width: 40%;
}
.foto{
    transform: rotate(+90deg);
    width: 10%;
}
.table{
    color: beige;
    text-align: center;
}
.about{
    color: beige;
    text-align: center;
}
body{
    background-color: #00132E;
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    margin: auto;
    color: beige;
  }
  
  td, th {
    border: 1px solid #636363;
    text-align: center;
    padding: 8px;
  }
  
    tr:nth-child(even) {
    background-color: #636363;
  }